[OAuth2] any plans to support PKCE in OAuth flow?

Hello, 

do you plan to support [Proof Key for Code Exchange](https://tools.ietf.org/html/rfc7636) concept (RFC-7636) in OAuth plugin? We plan to use Kong with OAuth2 for securing sensitive API services and any additional security is appreciated...

Thank you.


@subnetmarco - I'm looking into implementing PKCE for Kong.  I was going to fork the oauth2 plugin and insert new code for the code challenge stuff.  Is there a better way to approach this?

If we take on this work, I do expect to contribute it back once we have it working.

Forking and submitting a PR back would be the best way to contribute.

@subnetmarco I have the authorization flow with PKCE working in a private branch. I'm waiting to vet it in production for a little while before contributing back.  I think that I am going to have to track the client type (re: [RFC-6749§2.1]) in the `oauth2_credentials` table.  Basically, I need to change the token refresh logic so that it does not require a client secret parameter for public applications.  This will also control whether PKCE is required during the authorization code handshake.  Our current implementation allows a PKCE challenge/verifier to stand-in for the client secret when generating the access token but this doesn't work for refreshing.

_Does the Kong team have a preference between the following approaches?_

1. add a BOOLEAN column named `require_client_secret` that controls whether the plug-in rejects token-related requests that do not include a client secret parameter
2. add an ENUM (SET?) column named `client_type` with `confidential` and `public` as acceptable values

Thanks in advance.

[RFC-6749§2.1]: https://tools.ietf.org/html/rfc6749#section-2.1

I will ping the core team to answer your questions. As a side-note, we need to make sure that the plugin implements the appropriate migrations so that existing users of the OAuth 2.0 plugin can be upgraded to the new version with no downtime (assuming there are DAO schema changes in the plugin).

Preference would be `2. add ENUM`.

Sounds good.  We implemented migrations to add two columns to the `oauth2_authorization_codes` table and performed a zero-downtime migration in production yesterday.  We are using postgres and haven't found a good way to test against cassandra.  The migration was pretty straight-forward:
```lua
return {
  postgres = {
    up = [[
      DO $$
      BEGIN
        ALTER TABLE IF EXISTS ONLY "oauth2_authorization_codes" ADD "challenge" TEXT;
      EXCEPTION WHEN DUPLICATE_COLUMN THEN
        -- Do nothing, accept existing state
      END$$;

      DO $$
      BEGIN
        ALTER TABLE IF EXISTS ONLY "oauth2_authorization_codes" ADD "challenge_method" TEXT;
      EXCEPTION WHEN DUPLICATE_COLUMN THEN
        -- Do nothing, accept existing state
      END$$;
    ]],
  },

  cassandra = {
    up = [[
      ALTER TABLE oauth2_authorization_codes ADD challenge text;
      ALTER TABLE oauth2_authorization_codes ADD challenge_method text;
    ]],
  },
}
```

We will be adding the client_type column similarly.  From what I can tell, the correct way to implement and enumeration is as a string with `one_of` set.  _Is that correct?_

```lua
fields = {
  -- ...
  { client_type = {
    type = "string",
    required = "true",
    default = "confidential",
    one_of = { "confidential", "public" },
  }
}
```

Thanks for your contribution! 

We would like to use this PKCE extension on our Kong install. Can we access your fork somewhere? Any estimate (no pressure) when you will make a PR? 

@thegreatanon - we have a PR open for our PKCE implementation (#5268).  In the meantime, the current code is available in https://github.com/aweber/kong/tree/feat/pkce