Kong `Via` header is not RFC7230 compliant

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Kong version (`$ kong version`)

Kong 3.8.0 and above

### Current Behavior

Noticed it after 3.8.0 added the upstream Via header in https://github.com/Kong/kong/commit/575284f7517301a0cc87a0e827ac9c9381c9f723 

The Via header sent by Kong cannot be parsed according to [RFC7230 Section 5.7.1](https://datatracker.ietf.org/doc/html/rfc7230#section-5.7.1).

For example, the parser used by .NET 8 [System.Net.Http.Headers.HttpHeaders.Add](https://learn.microsoft.com/es-es/dotnet/api/system.net.http.headers.httpheaders.add?view=net-8.0#system-net-http-headers-httpheaders-add(system-string-system-string)) ([source](https://github.com/dotnet/runtime/blob/5535e31a712343a63f5d7d796cd874e563e5ac14/src/libraries/System.Net.Http/src/System/Net/Http/Headers/ViaHeaderValue.cs)) fails validation.

Example:

```
Testing Via header: '1.1 Kong/3.9.1'
✗ Error adding Via header: The format of value '1.1 Kong/3.9.1' is invalid.
Trace:
   at System.Net.Http.Headers.HttpHeaderParser.ParseValue(String value, Object storeValue, Int32& index)
   at System.Net.Http.Headers.HttpHeaders.ParseAndAddValue(HeaderDescriptor descriptor, HeaderStoreItemInfo info, String value)
   at System.Net.Http.Headers.HttpHeaders.Add(HeaderDescriptor descriptor, String value)
   at Program.<Main>$(String[] args) in /mypath/testnetheaders/ViaHeaderTest/Program.cs:line 29
```

### Expected Behavior

A Via header value that complies with [RFC7230 Section 5.7.1](https://datatracker.ietf.org/doc/html/rfc7230#section-5.7.1) like other proxies send.

### Steps To Reproduce

- Upgrade to Kong 3.8.0 or above
- Set a route to an echo service
- Check the `Via` HTTP header added by Kong

### Anything else?

It seems the problem is in using [meta._SERVER_TOKENS](https://github.com/Kong/kong/blob/575284f7517301a0cc87a0e827ac9c9381c9f723/kong/meta.lua#L19) directly as the `received-by` portion of the `Via`header, since the forward slash is not a valid `tchar` according to the [RFC7230 Appendix B](https://datatracker.ietf.org/doc/html/rfc7230#appendix-B).

Sample valid options:

1. Sending a lowercase "kong" pseudonym as `received-by` and the server tokens in the `comment` section

```
1.1 kong (Kong/3.9.1)
```

2.  Replacing the forward slash with a dash in the server tokens

```
1.1 Kong-3.8.0
```

It seems the first option is the one chosen by most proxies.

Examples from other proxies:

```
1.0 proxy1.example.com (Apache/2.4.54)
```

```
1.1 proxy3.example.com (squid/3.1)
```

```
1.1 abcdefgh.cloudfront.net (CloudFront)
```

@gallolp 
Would you help to confirm if #14705 solves your problem? Thanks!

Hi @spacewander ,

Thanks for the quick reply.

I'm not sure how to properly build a Kong image from source, since the Dockerfile relies on .deb packages.

But I have done the following to test:
- Patched the `kong/plugins` and `kong/runloop` Lua files over the `3.9.1` image using an extract from [14705](https://patch-diff.githubusercontent.com/raw/Kong/kong/pull/14705.patch)
- Tested against an echo service and got the header
```
Via: 1.1 kong (kong/3.9.1)
```
- Tested using the same .net method and passes validation
```
Testing Via header: '1.1 kong (kong/3.9.1)'
✓ Successfully added Via header
  Retrieved value: 1.1 kong (kong/3.9.1)
  Via property values:
    Protocol: , Version: 1.1
    Received-By: kong
    Comment: (kong/3.9.1)
```

It looks good to me.

Glad to hear this! Thanks for your verification!