hashOn.header with X-Session (hyphenated header name) does not work as expected

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Kong version (`$ kong version`)

3.9.0

### Current Behavior

We are using Kong with the following KongUpstreamPolicy:
```
apiVersion: configuration.konghq.com/v1beta1
kind: KongUpstreamPolicy
metadata:
  name: sticky-session-on-x-session-header
spec:
  algorithm: consistent-hashing
  hashOn:
    header: X-Session
```
Despite sending different values for the X-Session header (e.g., randomly generated UUIDs), Kong consistently routes traffic to the same upstream target, as if the hash was always the same.

### Expected Behavior

The consistent-hashing algorithm should correctly hash on any valid HTTP header name, including standard hyphenated ones such as X-Session and the traffic should be loadbalanced to all endpoints.

According to RFC 7230 section 3.2, header names like X-Session are completely valid.
This might indicate a parsing or normalization bug inside Kong’s upstream routing logic.

### Steps To Reproduce

1. Follow Kong Guide customizing-load-balancing to deploy Kong and demo pods:
https://docs.konghq.com/kubernetes-ingress-controller/latest/guides/requests/customizing-load-balancing/
2. Use ingress instead of GatewayAPI
3. Create KongUpstreamPolicy
4. Get Ingress if needed
```
 export PROXY_IP=$(kubectl get svc --namespace kong kong-gateway-proxy -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
 echo $PROXY_IP
```
5. Test with hyphenated name
```
for i in {1..100}; do
        session_id=$(uuidgen)
  echo "X-Session: $session_id"
  curl -s -H "X-Session: $session_id" $PROXY_IP &
  echo
done
```
All traffic will be routed to the same pods

6. Remove "-" from header
```
spec:
  algorithm: consistent-hashing
  hashOn:
    header: XSession
```

7. Retry the curl without (-)
```
for i in {1..100}; do
        session_id=$(uuidgen)
  echo "XSession: $session_id"
  curl -s -H "XSession: $session_id" $PROXY_IP &
  echo
done
```
The traffic will be loadbalanced across endpoints as normally

### Anything else?

I have also open a bug in [Kong/kubernetes-ingress-controller](https://github.com/Kong/kubernetes-ingress-controller/issues/7393), sorry if it's not the right place

Couldn't reproduce it with dbless Kong. Could you please take a look to see if this is something related to KIC? @randmonkey 

Hello @Oyami-Srk 
Sorry I didn't mention that we are using kong with a database.
How can I check if its related to KIC ? I've search for similaire issue over there without success.
Our KIC version is 3.4.4. 

@WatakOps @Oyami-Srk This can be reproduced with Kong by:
(1) Run Kong gateway and upstreams:
```bash
# run Kong
 docker run --rm -e"KONG_PROXY_LISTEN=0.0.0.0:8000" -e"KONG_ADMIN_LISTEN=0.0.0.0:8001" -e"KONG_DATABASE=off" -p"8000:8000" -p"8001:8001" kong
```
```bash
# run 2 `kong/go-echo` upstreams
docker run --rm -e"POD_NAME=upstream-1" -p"1027:1027" kong/go-echo
docker run --rm -e"POD_NAME=upstream-2" -p"2027:1027" kong/go-echo
```
(2) Apply the following configuration
```json
{
    "_transform": false,
    "_format_version": "3.0",
    "services": [
      {
        "host": "echo.upstream",
        "name": "go-echo"
      }
    ],
    "routes": [
      {
        "service": "go-echo",
        "name": "go-echo",
        "paths": ["/"]
      }
    ],
    "upstreams":[
        {
            "name": "echo.upstream",
            "hash_on": "header",
            "hash_on_header": "X-Session",
            "targets":[
                {"target":"172.17.0.1:1027"},
                {"target":"172.17.0.1:2027"}
            ]
        }
    ]
  }
```
(3) Run `curl` with different values of the `X-Session` header
```bash
curl -H"X-Session:1" 127.0.0.1:8000
```
and see the same upstream is returned with different values.
(4) Change the `hash_on_header` to some key without `-`, like `XSession`, then change the values of the updated header:
```bash
curl -H"X-Session:1" 127.0.0.1:8000
```
And you can see different upstreams are used.

Hi @WatakOps, this issue was fixed in https://github.com/Kong/kong/pull/14118

Thanks for your help.
Do you know when will be the next release of kong ? 